/Proiecte/Lectia 3/JavaApplication3/nbproject/private/
/Proiecte/Lectia 3/JavaApplication3/build/
/Proiecte/Lectia 3/JavaApplication3/dist/
/Proiecte/Lectia 2/appLectia2/appLectia2/build/
/Proiecte/Lectia 2/appLectia2/appLectia2/dist/
/Proiecte/Lectia 3/JavaApplication3/JavaApplication5/nbproject/private/
/Proiecte/Lectia 4/appLectia4/nbproject/private/
/Proiecte/Lectia 4/appLectia4/build/
/Proiecte/Lectia 4/appLectia4/dist/